#login-form {
    margin: 350px;
    width: 100%;
    height: 100%;
}

#login-form > input {
    font-size: 50px;
    font-weight: 800;
    border: none;
    border-radius: 6px;
}

#login-form > input::placeholder{
    color: #C8A391
}

#login-form > input[type="submit"] {
    color: #fff;
    font-size: 30px;
    background-color: #C8A391;
    margin-left: 20px;
}
